.profilepage-container {
  height: 120vh;
  background-color: #b7bbde;
  display: flex;
  flex-direction: row;
  padding: 5vh 0;
}

.profilepage-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profilepage-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilepage-title {
  color: white;
  margin-bottom: 3vh;
  margin-top: 2vh;
}

.profilepage-left-top-div {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilepage-left-bot-div {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profilepage-right-top-div {
  height: 50%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilepage-right-both-div {
  height: 50%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilepage-details-both-div{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 10%;
}

.profilepage-details-left-div{
  display: flex;
  flex-direction: column;
  width: 50%;

}

.profilepage-details-right-div{
  display: flex;
  flex-direction: column;
  width: 50%;
}

/* ///////////////////////////////////////////////////////////////////////// */

.flip-card1 {
  background-color: transparent;
  width: 90%;
  height: 85%;
  perspective: 1000px;
  font-family: sans-serif;
}

.title1 {
  font-size: 2vw;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner1 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card1:hover .flip-card-inner1 {
  transform: rotateY(180deg);
}

.flip-card-front1,
.flip-card-back1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid;
  border-radius: 1rem;
}

.flip-card-front1 {
  background: linear-gradient(
    120deg,
    rgb(210, 20, 172) 60%,
    rgb(247, 6, 199) 88%,
    rgb(255, 211, 195) 40%,
    rgb(255, 255, 255) 48%
  );
  color: white;
}

.flip-card-back1 {
  background: linear-gradient(
    120deg,
    rgb(210, 20, 172) 60%,
    rgb(247, 6, 199) 88%,
    rgb(255, 211, 195) 40%,
    rgb(255, 255, 255) 48%
  );
  color: white;
  transform: rotateY(180deg);
}

.flip-card2 {
  background-color: transparent;
  width: 90%;
  height: 85%;
  perspective: 1000px;
  font-family: sans-serif;
}

.title2 {
  font-size: 2vw;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card2:hover .flip-card-inner2 {
  transform: rotateY(180deg);
}

.flip-card-front2,
.flip-card-back2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid;
  border-radius: 1rem;
}

.flip-card-front2 {
  background: linear-gradient(
    120deg,
    rgb(240, 8, 27) 60%,
    rgb(241, 10, 64) 88%,
    rgb(255, 211, 195) 40%,
    rgb(255, 255, 255) 48%
  );
  color: white;
}

.flip-card-back2 {
  background: linear-gradient(
    120deg,
    rgb(240, 8, 27) 60%,
    rgb(241, 10, 64) 88%,
    rgb(255, 211, 195) 40%,
    rgb(255, 255, 255) 48%
  );
  color: white;
  transform: rotateY(180deg);
}

.flip-card3 {
  background-color: transparent;
  width: 90%;
  height: 85%;
  perspective: 1000px;
  font-family: sans-serif;
}

.title3 {
  font-size: 2vw;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner3 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card3:hover .flip-card-inner3 {
  transform: rotateY(180deg);
}

.flip-card-front3,
.flip-card-back3 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid;
  border-radius: 1rem;
}

.flip-card-front3 {
  background: linear-gradient(
    120deg,
    rgb(11, 104, 226) 60%,
    rgb(8, 133, 228) 88%,
    rgb(255, 211, 195) 40%,
    rgb(255, 255, 255) 48%
  );
  color: white;
}

.flip-card-back3 {
  background: linear-gradient(
    120deg,
    rgb(11, 104, 226) 60%,
    rgb(8, 133, 228) 88%,
    rgb(255, 211, 195) 40%,
    rgb(255, 255, 255) 48%
  );
  color: white;
  transform: rotateY(180deg);
}

.profilepage-measure-left-right {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 10%;
}

.profilepage-measure-left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profilepage-measure-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flip-card4 {
  background-color: transparent;
  width: 90%;
  height: 85%;
  perspective: 1000px;
  font-family: sans-serif;
}

.title4 {
  font-size: 2vw;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner4 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card4:hover .flip-card-inner4 {
  transform: rotateY(180deg);
}

.flip-card-front4,
.flip-card-back4 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid;
  border-radius: 1rem;
}

.flip-card-front4 {
  background: linear-gradient(
    120deg,
    rgb(238, 139, 18) 60%,
    rgb(228, 146, 13) 88%,
    rgb(255, 211, 195) 40%,
    rgb(255, 255, 255) 48%
  );
  color: white;
}

.flip-card-back4 {
  background: linear-gradient(
    120deg,
    rgb(238, 139, 18) 60%,
    rgb(228, 146, 13) 88%,
    rgb(255, 211, 195) 40%,
    rgb(255, 255, 255) 48%
  );
  color: white;
  transform: rotateY(180deg);
}

.profilepage-myprofile-title {
  font-size: 2vw;
  margin-bottom: 6vh;
  margin-top: 4vh;
}

.profilepage-mymeasures-title {
  font-size: 2vw;
  margin-bottom: 5vh;
  margin-top: 2vh;
}

.profilepage-data {
  width: 100%;
  font-size: 1.5vw;
  text-align: start;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
}

.profilepage-data-letter {
  width: 100%;
  font-size: 1.5vw;
  text-align: start;
  font-weight: lighter;
  margin-bottom: 2vh;
}

.profilepage-icons {
  margin-right: 5vw;
}

.profilepage-measure-part {
  width: 50%;
}

.profilepage-measures-input {
  width: 40%;
  text-align: center;
  font-size: 1.5vw;
}

.profilepage-icons {
  width: 10%;
}

.profilepage-subusers-line {
  width: 70%;
  text-align: start;
  margin-bottom: 2vh;
}

.profilepage-subusers-icons {
  margin-right: 3vw;
}

.profilepage-detail-edit-btn {
  height: 5vh;
  width: 10vw;
  background-color: white;
  font-size: 1.2vw;
  margin-top: 3vh;

}

.profilepage-detail-line {
  width: 100%;
  text-align: start;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profilepage-details-inputs {
  height: 4vh;
  width: 50%;
  background-color: transparent;
  text-align: start;
  border: none;
  color: white;
  font-size: 1.5vw;
}

.profilepage-measures-input{
  background-color: transparent;
  text-align: start;
  color: white;

}


/* .profilepage-details-inputs::placeholder {
  color: white;
} */

.profilepage-details-icon {
  width: 10%;
  scale: 1.7;
}

@media only screen and (max-width: 768px) {
  .profilepage-container {
    height: 150vh;
    background-color: #b7bbde;
    display: flex;
    flex-direction: column;
    padding: 5vh 0;
  }

  .profilepage-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profilepage-right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profilepage-myprofile-title {
    font-size: 4vw;
    margin-bottom: 1vh;
    margin-top: 2vh;
  }
  .profilepage-data {
    width: 80%;
    font-size: 3vw;
    text-align: start;
    margin-bottom: 2vh;
  }
  .profilepage-data-letter {
    width: 80%;
    font-size: 3vw;
    text-align: start;
    margin-bottom: 2vh;
  }

  .profilepage-mymeasures-title {
    font-size: 4vw;
    margin-bottom: 5vh;
    margin-top: 2vh;
  }
}
