.profile-action-cont {
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0px 5px 0px 0px rgb(143, 143, 143);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
}


.profile-action-cont:hover {
    transform: scale(1.1);
}


.circle {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    left: 390px;
    top: -34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-title {
    display: flex;
    font-size: xx-large;
    font-weight: bolder;
    position: absolute;
    width: 450px;
    justify-content: center;
    margin-top: 20px;
}

.action-img {
    position: relative;
    z-index: 2;
}

.action-info {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 6vw;
    padding-right: 6vw;
}

/* .top-part-cont {
    display: flex;
} */

/* .background-color: #0093E9; */
/* background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */





.measurements-cont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 400px;
    gap: 30px;
    margin-bottom: 30px;
}

.subusers {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
}


.measurements-inputs {
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 20px;
    background-color: #f6d5e0;
    border-color: #f44f29;
    box-shadow: 2px 2px 0px 0px #f44f29;
}

.measurments-div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.subusername-input {
    width: 200px;
    height: 30px;
    border-radius: 20px;
    border-style: dotted;
    background-color: #f6d5e0;
    border-color: #f44f29;
}

.top-part-cont {
    flex-direction: row-reverse;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 790px) {

    .profile-action-cont {
        width: 380px;

    }

    .top-part-cont {
        flex-direction: row-reverse;
    }

    .circle {
        left: 0px;
    }
}