.about-main-div{
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;

}
.about-main-p{
    display: flex;
    flex-direction: column;
    width:90%;
    min-height: 100%;
    gap: 30px;
    align-items: end;
    margin-left: 5%;
}
h2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
ul{
    padding-right: 20px;
}
li{
    padding: 5px;
}
.bubble1{
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  font-weight: bold;
  color: #774f38;
  background-color: #f6d5e0;
  padding: 50px;
  border-radius: 11px;
  box-shadow: 12px 12px #f44f29;
  left: 250px;
  bottom: 300px;
  width:fit-content;
  word-wrap: break-word;
}
.odot{
    font-size:26px;
}
.hehe{
    max-width:50%;
    max-height:60%;
}
@media screen and (max-width: 790px) {
    .hehe{
        max-width: 100%;
    }
    .bubble1{
        font-size: large;
    }
}