.bodyTypes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b7bbde;
  min-height: 100vh;
}

.bodyTypes-toparea {
  width: 80%;
  margin-top: 3vh;
}

.bodyTypes-main-title {
  text-align: center;
  margin-bottom: 5vh;
  margin-top: 5vh;
  font-size: 2vw;
}

.bodyTypes-botarea {
  display: flex;
  flex-direction: column;
}

.bodyTypes-botarea {
  width: 100%;
}

.bodyTypes-img1-text {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bodyTypes-img2-text {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bodyTypes-top-text {
  text-align: center;
  padding-right: 17vw;
  padding-left: 17vw;
  font-size: 1.7vw;
  margin-top: 7vh;
  margin-bottom: 7vh;
}

.bodyTypes-pear-div {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.bodyTypes-inner-title {
  text-align: center;
  margin-bottom: 2vh;
}

.bodyTypes-inner-text {
  text-align: center;
  padding-right: 30vw;
  padding-left: 30vw;
  font-size: 1.3vw;
}

.bodyTypes-pear-div-last {
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.bodyTypes-images {
  border-style: solid;
}

.bodyTypes-moveon-btn-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* /////////////////////////////// */

.bodyTypes-moveon-btn {
  --c: #fff;
  /* text color */
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%)
      var(--_p, 100%) / 300% no-repeat,
    #8000ff;
  /* background color */
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg * var(--_i, -1)));
  text-shadow: calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c),
    calc(var(--_i, -1) * -0.08em) 0.01em 2px #0004;
  outline-offset: 0.1em;
  transition: 0.3s;
}

.bodyTypes-moveon-btn:hover,
.bodyTypes-moveon-btn:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.bodyTypes-moveon-btn:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9Q #0005;
  transition: 0s;
}

.bodyTypes-moveon-btn {
  font-family: system-ui, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 5vh;
  cursor: pointer;
  padding: 0.1em 0.3em;
  margin-bottom: 8vh;
  margin-top: 2vh;
}

.bodyTypes-btn-title {
  text-align: center;
  padding-right: 30vw;
  padding-left: 30vw;
  font-size: 1.5vw;
  margin-bottom: 5vh;
}
.go-to-profile{
  min-Height:100vh ;
  background-color:#b7bbde;
  display:flex;
  justify-content:center;
  align-items:center;
  min-width:"95vw";
  flex-direction:column;
}
.go-to-profile-btn{

}
.go-to-profile-btn{
    width: 8rem;
    height: 2rem;
    border-radius: 10px;
    opacity: 0.8;
    border-color: darkorchid;
    cursor: pointer;

}
.go-to-profile-btn:hover{
    background-color: darkorchid ;
    color: bisque;
    opacity: 0.8;
    animation: shake 0.8s 1;
    cursor: pointer;

}
@media (max-width: 768px) {
  .bodyTypes-main-title {
    text-align: center;
    margin-bottom: 0;
    margin-top: 3vh;
    font-size: 7vw;
  }

  .bodyTypes-top-text {
    text-align: center;
    padding-right: 8vw;
    padding-left: 8vw;
    font-size: 4.5vw;
    margin-top: 2vh;
    margin-bottom: 0vh;
  }
  .bodyTypes-images {
    border-style: solid;
    scale: 0.65;
  }

  .bodyTypes-img1-text {
    margin-top: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .recharts-wrapper {
    scale: 0.9;
  }

  .bodyTypes-inner-text {
    text-align: center;
    padding-right: 20vw;
    padding-left: 20vw;
    font-size: 4vw;
  }

  .bodyTypes-pear-div {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

  .bodyTypes-img2-text {
    margin-top: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .bodyTypes-btn-title {
    text-align: center;
    padding-right: 20vw;
    padding-left: 20vw;
    font-size: 4vw;
    margin-bottom: 5vh;
  }

  .bodyTypes-moveon-btn {
    font-family: system-ui, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 5vh;
    cursor: pointer;
    padding: 0.1em 0.3em;
    scale: 0.8;
  }

  .bodyTypes-pear-div-last {
    margin-top: 2vh;
    margin-bottom: 5vh;
}
}
