.home {
  background-color: #b7bbde;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 93vh;
  row-gap: 200px;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
  row-gap: 20px;
}



.content-continer-h2 {
  display: flex;
  text-align: center;
  margin-top: 40px;
}

.home-orangered-div {
  /* background-color: #f44f29; */
  background-color: #e7764b;
  background-image: linear-gradient(62deg, #e7764b 0%, #eb330e 100%);
  position: absolute;
  top: 205px;
  height: 460px;
  width: 280px;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.purple-star-one{
  position: absolute;
  top: 15%;
  z-index: 2;
  left: 8%;
}

.purple-star-two{
  position: absolute;
  top: 70%;
  z-index: 2;
  right: 8%;
}


.womenhome{
  position: absolute;
  width: 400px;
  bottom: -35px;
  z-index: 2;
  left: 0;
  mix-blend-mode:multiply ;
}

.home-btn {
  width: 19em;
  height: 47px ;
  font-size: larger;
  border: 0;
  border-radius: 18px;
  color: orangered;
  /* background-color: #f6d5e0; */
  background-color: #efd5df;
  background-image: linear-gradient(191deg, #efd5df 0%, #d2b1bf 100%);
  box-shadow: #490185 0px 2px 1px 0px;
  cursor: pointer;

}

.home-btn:hover {
  color: whitesmoke;
  background-color: #f6d5e0;
  animation: jump 1s ease-in-out 1;
  cursor: pointer;


}
@media screen and (max-width: 768px) {
  .womenhome {
    display: none;
  }

  .purple-star-one{
    display: none;
  }
  
  .purple-star-two{
    display: none;
  }
  
}
@keyframes jump {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }}