.home {
  background-color: #b7bbde;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
  row-gap: 200px;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
  row-gap: 20px;
}
/* 
.home-orangered-div {
  background-color: orangered;
  position: absolute;
  height: 300px;
  width: 30vw;
  margin-left: 35vw;
  margin-right: 35vw;
  border-radius: 8rem;
  z-index: -900;
  display: flex;
  justify-content: center;
} */

.home-btn {
  width: 200px;
  padding: 10px;
}

.star {
  position: relative;
  display: block;
  color: #5738af;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #5738af;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
  z-index: -900;
}

#start-1 {}

#star-1 {}

#start-2 {}

.content-continer-h2 {
  display: flex;
  text-align: center;
  margin-top: 40px;
}

.home-orangered-div {
  background-color: #f44f29;
  position: absolute;
  top: 205px;
  height: 460px;
  width: 280px;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  z-index: 1;
}

/* .purple-star-one{
  position: absolute;
  top: 230px;
  z-index: 2;
  left: 560px;
}

.purple-star-two{
  position: absolute;
  top: 550px;
  z-index: 2;
  right:  570px;
} */

.home-btn {
  width: 19em;
  height: 47px ;
  font-size: larger;
  border: 0;
  border-radius: 18px;
  color: orangered;
  background-color: #f6d5e0;
}

.home-btn:hover {
  color: whitesmoke;
  background-color: #f6d5e0;
}
