.home {
  background-color: #b7bbde;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-content-container{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.home-orangered-div{
background-color: orangered;
position: absolute;
height: 80vh;
width: 30vw;
margin-left:35vw ;
margin-right:35vw ;
border-radius:8rem;
z-index: -900;
display: flex;
justify-content: center;
}
.home-btn{
width: 200px;
padding: 10px;
}
.star{ 
    position: relative;
    display: block;
    color: #5738af;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #5738af;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
    z-index: -900;
}
.star::before{
    border-bottom: 80px solid #5738af;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
    z-index: -900;
}
.star::after{
    position: absolute;
    display: block;
    color:#5738af ;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #5738af;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
    z-index: -900;
}
#start-1{
    
#star-1 {

}
#start-2{

}
.content-continer-h2{
    display: flex;
    text-align: center;
}
.home-orangered-div {
  background-color: orangered;
  position: absolute;
  height: 100%;
  width: 25vw;
  border-radius: 8rem;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.home-btn {
  width: 20em;
  padding: 10px;
  border-radius: 15px;
  color: orangered;
  background-color: rgb(250, 182, 158);
}
.home-btn:hover{
    color: whitesmoke;
    background-color:rgb(250, 182, 158) ;
}
.star {
  position: relative;
  display: block;
  color: #5738af;
  width: 0;
  height: 0;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #5738af;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
  z-index: 1;
  scale: 0.7;
}
.star::before {
  border-bottom: 80px solid #5738af;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: "";
  transform: rotate(-35deg);
  z-index: -900;
}
.star::after {
  position: absolute;
  display: block;
  color: #5738af;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #5738af;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: "";
  z-index: -900;
}
#star-1 {
  align-self: baseline;
  top: 15vh;
  left: 25vh;  
}
#star-2 {
  align-self: flex-end;
  bottom: 15vh;
  right: 25vh;
}
