.home{
min-height:80vh ;
width: 100vw;
background-color: #b7bbde;
z-index: -901;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.home-content-container{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.home-orangered-div{
background-color: orangered;
position: absolute;
height: 80vh;
width: 30vw;
margin-left:35vw ;
margin-right:35vw ;
border-radius:8rem;
z-index: -900;
display: flex;
justify-content: center;
}
.home-btn{
width: 200px;
padding: 10px;
}
.star{ 
    position: relative;
    display: block;
    color: #5738af;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #5738af;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
    z-index: -900;
}
.star::before{
    border-bottom: 80px solid #5738af;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
    z-index: -900;
}
.star::after{
    position: absolute;
    display: block;
    color:#5738af ;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #5738af;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
    z-index: -900;
}
#start-1{
    
}
#start-2{

}
