.homepage-container {
  height: 80vh;
  background-color: #5738af;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-card {
  background-color: #b7bbde;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 90%;
  border-radius: 3vw;
}

.homepage-img {
  margin-top: 6vh;
  height: 50%;
  width: 50%;
  background-color: azure;
  margin-bottom: 4vh;
}

.hompage-welcome-title {
  text-align: center;
  color: #5738af;
  margin-bottom: 4vh;
  font-weight: lighter;
  font-size: 2.3vw;
}

.hompage-getstarted-btn {
  width: 40%;
  background-color: #f6d5e0;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  cursor: pointer;
  font-size: 1.5vw;
  color: #f44e29c4;
  border: none;
  border-radius: 3vw;
}

#homepage-bold-text {
  font-weight: bold;
}

.hompage-left-arrows {
  margin-right: 3vw;
  color: #f44f29;
  font-weight: bolder;
}
.hompage-right-arrows {
  margin-left: 3vw;
  color: #f44f29;
  font-weight: bolder;
}

.hompage-getstarted-btn:hover .hompage-left-arrows {
  margin-right: 5vw;
  transition: 0.5s;
}

.hompage-getstarted-btn:hover .hompage-right-arrows {
  margin-left: 5vw;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .hompage-getstarted-btn {
    width: 90%;
    background-color: #f6d5e0;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    cursor: pointer;
    font-size: 4vw;
    color: #f44e29c4;
  }

  .hompage-welcome-title {
    text-align: center;
    color: #5738af;
    margin-bottom: 2vh;
    font-weight: lighter;
    font-size: 7vw;
  }

  .homepage-img {
    margin-top: 2vh;
    height: 40%;
    width: 80%;
    background-color: azure;
    margin-bottom: 2vh;
  }
  
}
