
.top-nav {
 height: 10vh;
  /* background-color: #5738af; */
      background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.layout-link {
  color: white;
  height: 70px;
 min-width: 80px;
  display: flex;
  position: relative;
  justify-content: center;
  text-decoration: none;
  align-items: center;
}
#layout-user {
  object-fit: contain;
  height: 8vh;
}


.middle-nav{
  display: flex;
  column-gap: 10px;
  width: 300px;
  justify-content: space-between;
}

.layout-link:after {
  content: "";
  position: absolute;
  opacity: 0;
  width: 0;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

/* .nav-link::before {
    top: 0;
    left: 0;
} */

.layout-link::after {
  bottom: 0;
  /* right: 0; */

}

.layout-link:hover:after {
  opacity: 1;
  width: 100%;
}




.login-side{
  display: flex;
  width: 300px;
  margin-right: 20px;
  justify-content: flex-end;
  column-gap: 30px;
}

.logo-side{
  display: flex;
  width: 300px;
  margin-left: 20px;
  margin-top: 30px;
  justify-content: space-between;
}

.login-button{
  border-color: white;
  color: white;
  border-style: solid;
  width: 100px;
  height: 30px;
  border-width: thin;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.login-button:hover{
  background-color: white;
  color: #5738af;
  border-color: #5738af;
}

.sign-button{
  border-color: black;
  background-color: black;
  border-style: solid;
  width: 100px;
  height: 30px;
  border-width: thin;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.sign-button:hover{
   border-color: #5738af;
   color: #5738af;
   background-color: white;
}

.glass-effect{
  background: linear-gradient(135deg ,rgba(255,255,255,0.1),rgba(255,255,255,0)); 
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: (20px);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
  border: 1px solid rgba(255,255,255,0.18);
  border-radius: 32px;
}

.nav-bar-mobile{
  width: 0px;
  transition: all .5s ease-in-out;
    height: 500px;
  background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav-bar-mobile-true{
  width: 300px;
  transition: all .5s ease-in-out;
  height: 500px;
  background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


.hamburger{
  display: none;
}

.show-mobile{
  display: none;
}

.user-actions{
  position: absolute;
  z-index: 2;
  background-color: white;
  width: 130px;
  height: 200px;
  top: 70px;
  right: 0px;
  background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.profile-image-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
}
footer {
  min-height: 10vh;
  background-color: #5738af;
  display: flex;
  flex-direction: column;
  align-items: center;  
  padding: 0.5rem;
  row-gap: 0.9rem;
}
.layout-icon{
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
  width: 20%;
}
.fast-links{
  color: bisque;
  display: flex;
  width: 33%;
  justify-content: space-around;  
  
}
.made-by{
  color: bisque;
  display: flex;
  gap: 5px;
  margin-bottom: 40px;

}
.icon-footer:hover{
 opacity: 1;
 transform: translateY(-5px);
}
.icon-footer{
 opacity: 0.7;
}


@media screen and (max-width: 790px) {
 
  .login-side{
    display: none;
  }

  .middle-nav{
    display: none;
  }

  .hamburger{
    display: block;
    margin-right: 20px;
  }

  .show-mobile{
    display: block;
  }
  
  .fast-links{
    display: flex;
    justify-content: space-around;  
    min-width: 90%;

  }
  .layout-icon{
    display: flex;
    justify-content: space-around;
    width: 40%;
  }
}