.main-login{
    background-color: #5738af;
    display: flex;
    justify-content: center;
    height: 94vh;
    align-items: center;
}

.sign-title {
    font-size: 7vw;
    color: #5738af;
    margin-top: 7vh;
}

.login-main-cont{
    height: 450px;
    width: 380px;
    border-radius: 16px;
    background-color: #b7bbde;
    display: flex;
    row-gap: 40px;
    flex-direction: column;
    align-items: center;
    scale: 1.25;
}

.login-form{
    display: flex;
    flex-direction: column;
    row-gap: 34px;
    align-items: center;
    justify-content: center;
}

.orange-two{
    font: small-caption;
    padding: 0px;
    padding-bottom: 0px;
    background-color: #f6d5e0;
}

.orange-input-login{
    min-width: 80%;
    height: 3vh;

    border-radius: 10px;
    border: 0;
    background-color: #f6d5e0;
    box-shadow: 4px 6px 0px 0px #f44f29;
    outline: none;
    cursor: pointer;
}

.orange-input-login-2{
    min-width: 100%;
    border-radius: 10px;
    border: 0;
    background-color: #f6d5e0;
    box-shadow: 4px 6px 0px 0px #f44f29;
    outline: none;
    cursor: pointer;
    height: 3vh;
}


.show-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }

.dont-sen{
    margin-right: 0.5vw;

}

.createuserlogin{
    cursor: pointer;
}

.succses-button{
    cursor: pointer;
    width: 80%;
    height: 3vh;
    font-size: 1vw;
}


.password-container {
    position: relative;
    width: 80%;
  }

  @media screen and (max-width: 790px) {

    .login-main-cont{
        height: 450px;
        width: 380px;
        border-radius: 16px;
        background-color: #b7bbde;
        display: flex;
        row-gap: 40px;
        flex-direction: column;
        align-items: center;
        scale: 1;
    }

    .main-login{
        background-color: #5738af;
        display: flex;
        justify-content: center;
        height: 80vh;
        align-items: center;
    }

    .sign-title {
        font-size: 7vw;
        color: #5738af;
        margin-top: 7vh;
    }

    .login-form{
        display: flex;
        flex-direction: column;
        row-gap: 34px;
        align-items: center;
        justify-content: center;
        scale: 1.1;
    }

    
.succses-button{
    cursor: pointer;
    width: 80%;
    height: 3vh;
    font-size: 4vw;
}


    
    

    
}
