.main-login{
    background-color: #5738af;
    /* background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% ); */
    display: flex;
    justify-content: center;
    height: 94vh;
    align-items: center;
}

.login-main-cont{
    height: 450px;
    width: 350px;
    border-radius: 16px;
    background-color: #b7bbde;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form{
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

.orange-input-login{
    height: 27px;
    width: 220px;
    border-radius: 10px;
    border: 0;
    background-color: #f6d5e0;
    box-shadow: 4px 6px 0px 0px #f44f29;
}