.profile-cont-main{
    background-color: #b7bbde;
    display: flex;
    flex-direction: column;
}

.profile-info-cont{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.img-info{
    border-radius: 50%;
    width: 150px;

}


.subusers-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 500px;
    
    /* background-color: whitesmoke; */
    /* From https://css.glass */
/* From https://css.glass */
/* From https://css.glass */
/* From https://css.glass */
/* From https://css.glass */
/* From https://css.glass */
/* From https://css.glass */
background: rgba(87, 56, 175, 0.28);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
border: 1px solid rgba(87, 56, 175, 0.63);
    row-gap: 50px;
    margin-top: 50px;
    border-radius: 15px;
}

.info-cont{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 90%;
    row-gap: 30px;
}

.profile-actions-cont{
    display: flex;
    flex-wrap: wrap;
    column-gap: 160px;
    justify-content: center;
    row-gap: 80px;
    margin-top: 90px;
    margin-bottom: 100px;
}

.back-button{
  text-align: center;
  cursor: pointer;
  margin-left: 150px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;

}


.back-button:hover{
 transform: translateX(-10px);
 cursor: pointer;

}

.action-main-cont{
    min-height: 450px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}


.profile-square-cont{
    display: flex;
    justify-content: center;
}


.subuser-card-main{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.subuser-card-up-main{
   height: 50%;
   height: 200px;
   width: 620px;
   /* background-color: red; */
   /* background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%); */
background-image: url(./images/wallpaper.jpg);
background-repeat: no-repeat;
background-size: cover;
border-top-left-radius: 20px;
border-top-right-radius: 20px;

}

.subuser-card-down-main{
  height: 50%;
  width: 620px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
  background-color: white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.subuser-card-down-main-act{
  height: 50%;
  width: 620px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  background-color: white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.image-circle-main{
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-image-main{
    width: 115px;
    height: 115px;
    border-radius: 50%;
}

.women-image-black{
    width: 200px;
}

.info-div{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.profile-info-act-div{
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 10;
    width: 85%;
}

.box-container-profile{
    width: 450px;
    height: 150px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 790px) {
    
    .subuser-card-up-main{
        width: 380px;
        height: 150px;
    }

    .back-button{
       margin-left: 0;
       justify-content: center;
      
      }

    .subuser-card-down-main{
        width: 380px;
        height: 30px;
    }

    .profile-action-cont{
width: 380px;

    }

    .top-part-cont{
      flex-direction: row-reverse;
     }

     .circle{
       left: 0px;
     }
}

.user-mesurments-submit{
    width: 8rem;
    height: 2rem;
    border-radius: 10px;
    opacity: 0.8;
    border-color: #5738af;
    color: #5738af;
    cursor: pointer;

}
.user-mesurments-submit:hover{
    background-color: #5738af;
    color: white;
    opacity: 0.8;
    animation: shake 0.8s 1;
    cursor: pointer;

}
.custom-alert{
    background-color: #5738af;
    color: antiquewhite;
    text-align: center;
    position: fixed;
    top: 10vh;
    left: 50%;
    height: 20vh;
    width: 300px;
    transform: translateX(-50%);
    z-index: 9999;
    font-size: 1.5em;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(35, 26, 125, 0.271), 0 6px 20px 0 rgba(24, 40, 110, 0.409);
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* @media screen and (max-width: 460px) {
    
    .subuser-card-up-main{
        width: 400px;
        height: 150px;
    }

    .subuser-card-down-main{
        width: 400px;
        height: 30px;
    }

    .profile-action-cont{
width: 380px;

    }

    .top-part-cont{
      flex-direction: row-reverse;
     }

     .circle{
       left: 0px;
     }
} */
@media screen and (max-width:640px) {
    .custom-alert{
        font-size: 0.9em;
        width: 300px;
        height: 15vh;
        top: 15vh;
    }
}