.main-sign-up {
    background-color: #5738af;
    background-image: radial-gradient( circle 363px at 100.2% 3%,  #5738af 31.1%, #f44f29 36.4%, #f44f29 50.9%, #f44f29 60.7%, #f44f29 72.5%, #5738af 72.6% );
    display: flex;
    justify-content: center;
    height: 94vh;
    align-items: center;
}

.sign-box-cont {
   min-height:535px;
    width: 350px;
    border-radius: 16px;
    background-color: #b7bbde;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.sign-title{
    font-size: xx-large;
    color: #5738af;
}

.choose-icon-image{
  width: 75px;
  border-radius: 50%;
}
.choose-icon-image-c{
  width: 75px;
  border-radius: 50%;
  border-style: solid;
}
.choose-icon-image-c:hover{
 cursor: pointer;
}
.choose-icon-image:hover{
 cursor: pointer;
}


.choose-icon-button:focus{
  border-style: solid;
}

.title-box{
    display: flex;
    column-gap: 9px;
    margin-bottom: 30px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.form-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 35px;
    align-items: center;
}

.form-cont-two{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 70px;
  align-items: center;
}

.orange-input{
    height: 23px;
    width: 200px;
    border-radius: 10px;
    border: 0;
    background-color: #f6d5e0;
    box-shadow: 4px 6px 0px 0px #f44f29;
    outline: none;
}

.checkbox {
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.checkbox > span {
    color: #34495E;
    padding: 0.5rem 0.25rem;
}

.checkbox > input {
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: #f6d5e0;
    cursor: pointer;
  }

.checkbox > input:checked {
    background-color: #f44f29;
}

.check-cont{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.succses-cont{
    height: 90%;
    width: 100%;
    border-radius: 10px;
    background-color: #b7bbde;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.succses-messege-cont{
    width: 20%;
    border-radius: 10px;
    background-color: #f6d5e0;
    text-align: center;
    box-shadow: 0px 6px 0px 4px #f44f29;
}

.buttons-cont{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.succses-button{
    width: 240px;
    height: 28px;
    border-radius: 10px;
    border: 0;
    opacity: 0.9;
    background-color: #f6d5e0;
}

.succses-button:hover{
    opacity: 1;
}



.bubble{
    position: absolute;
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 10px;
  color: #774f38;
  background-color: #f6d5e0;
  padding: 50px;
  border-radius: 11px;
  box-shadow: 12px 12px #f44f29;
  font-family: "Baloo 2", cursive;
  left: 250px;
  bottom: 300px;
  width: 80px;
  word-wrap: break-word;
}

.bubbletwo{
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 6px;
  color: #774f38;
  background-color: #f6d5e0;
  padding: 20px;
  border-radius: 11px;
  box-shadow: 12px 12px #f44f29;
  font-family: "Baloo 2", cursive;
  left: 120px;
  bottom: 200px;
  width: 50px;
  height: 50px;
  word-wrap: break-word;
  display: none;
} 

/* .bubbletwo::after{
    transform: translatey(0px);
    animation: float2 5s ease-in-out infinite;
    content: ".";
    font-weight: bold;
     -webkit-text-stroke: 0.5px #c8c8a9;
    -webkit-text-fill-color: #ece5ce;
     border: 1px solid #c8c8a9;
    text-shadow: 22px 22px #f44f29;
    text-align: left;
    font-size: 55px;
    width: 55px;
    height: 11px;
    line-height: 30px;
    border-radius: 11px;
    background-color: #ece5ce;
    position: absolute;
    display: block;
    bottom: -30px;
    left: 0;
    box-shadow: 22px 22px #f44f29;
    z-index: -2;
} */
.bubble::after{
    transform: translatey(0px);
    animation: float2 5s ease-in-out infinite;
    content: ".";
    font-weight: bold;
     -webkit-text-stroke: 0.5px #c8c8a9;
    -webkit-text-fill-color: #ece5ce;
     border: 1px solid #c8c8a9;
    text-shadow: 22px 22px #f44f29;
    text-align: left;
    font-size: 55px;
    width: 55px;
    height: 11px;
    line-height: 30px;
    border-radius: 11px;
    background-color: #ece5ce;
    position: absolute;
    display: block;
    bottom: -30px;
    left: 0;
    box-shadow: 22px 22px #f44f29;
    z-index: -2;
}

@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }
  
  @keyframes float2 {
    0% {
      line-height: 30px;
      transform: translatey(0px);
    }
    55% {
      transform: translatey(-20px);
    }
    60% {
      line-height: 10px;
    }
    100% {
      line-height: 30px;
      transform: translatey(0px);
    }
  }

  .women{
    position: absolute;
    left: 10px;
    bottom: -80px;
    width:350px;
  }
  .womenmobile{
    left: 10px;
    bottom: -50px;
    width:180px;
    display: none;
  }
  .starnew{
    position: relative;
    bottom: 40px; 
    left: 300px;   
  }

  .submit-button{
    width: 200px;
    height: 33px;
    border-radius: 10px;
    background-color: whitesmoke;
    border-color: #5738af;
    color: #5738af;
    border-width: medium;
  }

  .submit-button:active{
    background-color: black;
    color: white;
    border: black;
  }

  .submit-button:hover{
    color: black;
    border-color: black;
  }

  .main-profile-icon-cont{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .sign-square{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }


  .mobile{
    display: flex;
        margin-top: 50px;
  }

  @media screen and (max-width: 1218px) {
   .bubble{
    left: 100px;
   }

   .women{
    left: -100px;
   }

   .starnew{
    display: none;
   }
}
  @media screen and (max-width: 923px) {
    .bubble{
      left: 20px;
    }

    .women{
      left: -100px;
      bottom: 20px;
    }
   
}
  @media screen and (max-width: 790px) {
    .sign-box-cont{
      width: 90%;
      margin-top: 40px;
      margin-top: 50px;
      height: 560px;
    }

    .main-sign-up{
      align-items: flex-start;
      /* height: auto; */
    }

    .bubble{
      display: none;
    }

    .women{
    display: none;  
    }
   
    .womenmobile{
      display: block;
    }

    .bubbletwo{
      display: block;
    }
   
   
}
  @media screen and (max-width: 524px) {
    .bubble{
      z-index: 2;
      width: 80px;
      font-size: 4px;
      bottom: 100px;
      left: 150px;
      line-height: 10px;
      padding: 13px;
    }

    .main-sign-up{
    background-image: none;
    }
}