.main-sign-up {
    background-color: #5738af;
    display: flex;
    justify-content: center;
    height: 94vh;
    align-items: center;
}

.sign-box-cont {
    height: 525px;
    width: 350px;
    border-radius: 16px;
    background-color: #b7bbde;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.sign-title{
    font-size: xx-large;
    color: #5738af;
}

.title-box{
    display: flex;
    column-gap: 9px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.form-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 30px;
    align-items: center;
}

.orange-input{
    height: 23px;
    width: 200px;
    border-radius: 10px;
    border: 0;
    background-color: #f6d5e0;
    box-shadow: 4px 6px 0px 0px #f44f29;
    outline: none;
}

.checkbox {
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.checkbox > span {
    color: #34495E;
    padding: 0.5rem 0.25rem;
}

.checkbox > input {
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: #f6d5e0;
    cursor: pointer;
  }

.checkbox > input:checked {
    background-color: #f44f29;
}

.check-cont{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.succses-cont{
    height: 90%;
    width: 100%;
    border-radius: 10px;
    background-color: #b7bbde;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.succses-messege-cont{
    width: 20%;
    border-radius: 10px;
    background-color: #f6d5e0;
    text-align: center;
    box-shadow: 0px 6px 0px 4px #f44f29;
}

.buttons-cont{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.succses-button{
    width: 240px;
    height: 28px;
    border-radius: 10px;
    border: 0;
    opacity: 0.9;
    background-color: #f6d5e0;
}

.succses-button:hover{
    opacity: 1;
}



.bubble{
    position: absolute;
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 10px;
  color: #774f38;
  background-color: #f6d5e0;
  padding: 50px;
  border-radius: 11px;
  box-shadow: 12px 12px #f44f29;
  font-family: "Baloo 2", cursive;
  left: 250px;
  bottom: 300px;
  width: 80px;
  word-wrap: break-word;
}

.bubble::after{
    transform: translatey(0px);
    animation: float2 5s ease-in-out infinite;
    content: ".";
    font-weight: bold;
     -webkit-text-stroke: 0.5px #c8c8a9;
    -webkit-text-fill-color: #ece5ce;
     border: 1px solid #c8c8a9;
    text-shadow: 22px 22px #f44f29;
    text-align: left;
    font-size: 55px;
    width: 55px;
    height: 11px;
    line-height: 30px;
    border-radius: 11px;
    background-color: #ece5ce;
    position: absolute;
    display: block;
    bottom: -30px;
    left: 0;
    box-shadow: 22px 22px #f44f29;
    z-index: -2;
}

@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }
  
  @keyframes float2 {
    0% {
      line-height: 30px;
      transform: translatey(0px);
    }
    55% {
      transform: translatey(-20px);
    }
    60% {
      line-height: 10px;
    }
    100% {
      line-height: 30px;
      transform: translatey(0px);
    }
  }

  .women{
    position: absolute;
    left: 10px;
    bottom: -80px;
  }
  .starnew{
    position: absolute;
    right: 460px;
    bottom: -30px;
  }

  .submit-button{
    width: 200px;
    height: 33px;
    border-radius: 10px;
    background-color: whitesmoke;
    border-color: #5738af;
    color: #5738af;
    border-width: medium;
  }

  .submit-button:active{
    background-color: black;
    color: white;
    border: black;
  }

  .submit-button:hover{
    color: black;
    border-color: black;
  }