.stylist-nav {
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    text-align: center;
    align-items: center;
    background-color: rgb(234, 222, 205);
}

a{
    text-decoration: none;
    /* Optional: Remove underline */
}
.what-are-we{
    text-align: center;
}
a:visited {
    text-decoration: none;
}
.style-category-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 60px;
    margin-top: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
        
}
.style-container-container{
   
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b7bbde;
}
.style-container{
    width: 100%;
    background-color: #b7bbde;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;

}
.style-dress-option{
    height: 270px;
    width: 270px;
    font-size: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.style-dress-option:hover{
    box-shadow: 0 4px 8px 0 rgba(255, 89, 0, 0.347), 0 6px 20px 0 rgba(255, 81, 0, 0.341);
    color: rgb(255, 94, 0);
    cursor: pointer;
}
.style-list-container{
    height: 100%;
    width:100%;
    display: flex;
    justify-content: space-around;
}

.style-size-btn{
    background-color: rgb(190, 161, 124);
    height: 30px;
    width: 200px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 250px;
    min-height: 470px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    border-radius: 15px;
    background-color: white;
    word-wrap: break-word;
    
    
}
/* .card:hover{
    cursor: pointer;
    color: rgb(255, 94, 0);
} */
.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
a {
    color: inherit;
    text-decoration: inherit;
  }
  /* .card-img{ */
    /* border-radius: 15px; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.275), 0 6px 20px 0 rgba(0, 0, 0, 0.289); */
  /* } */
  /* .card-img:hover{
    box-shadow: 0 4px 8px 0 rgba(255, 89, 0, 0.347), 0 6px 20px 0 rgba(255, 81, 0, 0.341);
   }*/
  .products-container{
    background-color:#b7bbde
  }
  .card-content-container{
    width: 250px;
    min-height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
  }

  .pagination-container{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 30px;
  }

  .pagination{
    display: flex;
    column-gap: 10px;
  }

  .page-number{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-number:hover{
    cursor: pointer;
    background-color: rgb(87, 56, 175);
    color: white;
}

.arrow-down{
    display: none;
}

@media screen and (max-width: 790px) {
 
   .arrow-down{
    display: flex;
    justify-content: center;
   }
  }